* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

.flex {
  display:  flex;
}

a {
  color: white;
  text-decoration: none;
}

button, input {
  border: none;
  outline: none;
}

.app {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}